body {
  background: #fafafa;
  color: #33333a;
  padding-top: 70px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #323232;
}
.main-color {
  background-color: #0e76a8;
}
.strike-through-td {
  text-decoration: line-through;
}
.search-btn {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}
/* }
.card-body .search-form {
  display: flex !important;
}
#search-form {
  width: 100%;
  position: relative;
  display: flex;
}
.search-form .search-input {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}
.search-input:focus {
  color: #00b4cc;
}
#search-btn {
  width: 40px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.search-btn:hover {
  opacity: 1;
  border: none;
  background: none;
  cursor: pointer;
} */
