{% include 'layout.html' %}
<div class="container">
  <div class="card text-center">
    <div class="card-header">Your todos</div>
    <div class="card-body">
      <h5 class="card-title">List your todo</h5>
      <p class="card-text">Add your todo here</p>
      <form method="GET" class="input-group search-form" id="search-form">
        <input
          type="text"
          name="search"
          class="search-input form-control"
          id="search-input"
          placeholder="Enter your search"
        />
        <button
          class="btn btn-info search-btn input-group-append"
          type="submit"
          id="search-btn"
          style="display: flex; align-items: center; justify-content: center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
          >
            <path
              d="M21.707,20.293l-4.54-4.54a8,8,0,1,0-1.414,1.414l4.54,4.54a1,1,0,0,0,1.414-1.414ZM10,16a6,6,0,1,1,6-6A6.007,6.007,0,0,1,10,16Z"
              fill="currentColor"
            />
          </svg>
        </button>
      </form>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Info</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for todo in todos %} {% if todo.completed == False %}
          <tr class="pointer">
            <td>{{loop.index}}</td>
            <td>{{todo.title}}</td>
            <td>
              <button
                onclick="window.location.href='complete/{{todo.id}}'"
                type="button"
                class="btn btn-success"
              >
                Complete
              </button>
              <button
                onclick="window.location.href='edit-todo/{{todo.id}}'"
                type="button"
                class="btn btn-info"
              >
                Edit
              </button>
            </td>
          </tr>

          {% else %}
          <tr class="pointer alert alert-success">
            <td>{{loop.index}}</td>
            <td class="strike-through-td">{{todo.title}}</td>
            <td>
              <button
                onclick="window.location.href='complete/{{todo.id}}'"
                type="button"
                class="btn btn-success"
              >
                Undo
              </button>
              <button
                onclick="window.location.href='edit-todo/{{todo.id}}'"
                type="button"
                class="btn btn-info"
              >
                Edit
              </button>
            </td>
          </tr>

          {% endif %} {% endfor %}
        </tbody>
      </table>

      <a class="btn btn-primary" href="add-todo">Add todo</a>
    </div>
  </div>
</div>
